.split {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
}

.left {
    width: 20%;
    left: 0;
    background-image: url("wood.jpg");
}

.right {
    width: 80%;
    right: 0;
    background-image: url("parchment.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.characterTop {
    padding-top: 50px;
    text-align: center;
}

.basicData {
    text-align: center;
    padding-top: 10px;
}

.secondDataRow {
    text-align: center;
    padding-top: 10px;
}

textarea {
    resize: none;
}

.thirdData {
    text-align: center;
    padding-top: 25px;
}

.l {
    width: 50%;
    float: left;
}

.r {
    width: 50%;
    float: right;
}

.fourthData {
    text-align: center;
}

.fifthData {
    text-align: center;
}

.sixthData {
    text-align: center;
}

.bottomOptions {
    position: fixed;
    padding-bottom: 10px;
    bottom: 0;
}

.chars {
    position: absolute;
    padding-top: 100px;
    left: 50%;
}