html {
    height: 100%;
  }

body {
    background-image: url("tavern.jpg");
    background-color: #cccccc;
    font-family: "Trebuchet MS";
}

.parentContainer {
    border-radius: 25px;
    display: table;
    background-image: url("papyrus.jpg");
    background-color: #cccccc;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.loginContainer {
    display: table-cell;
    vertical-align: middle;
    padding: 10px;
}

.buttonContainer {
    float: right;
}